- block:

  - name: Login to OpenShift
    redhat.openshift.openshift_auth:
      host: "{{ openshift_fqdn }}"
      username: "{{ openshift_user }}"
      password: "{{ openshift_password }}"
      validate_certs: no
    register: openshift_auth_results
    
  - name: Create or Remove Project
    redhat.openshift.k8s:
      api_key: "{{ openshift_auth_results.openshift_auth.api_key }}"
      host: "{{ openshift_fqdn }}"
      state: "{{ state }}"
      definition:
        apiVersion: project.openshift.io/v1
        kind: Project
        metadata:
          name: "{{ project }}"
      validate_certs: no
    
  always:
  - name: If login succeeded, try to log out (revoke access token)
    redhat.openshift.openshift_auth:
      state: absent
      host: "{{ openshift_fqdn }}"
      api_key: "{{ openshift_auth_results.openshift_auth.api_key }}"
      validate_certs: no
    when: openshift_auth_results.openshift_auth.api_key is defined
